{% extends 'story8base.html' %}
{% load static %}

{% block content %}


<div class="background-col">

  <div class="container">
    <header class="page-header header container-fluid">
        <div class="overlay"></div>
        <div class="judul text-center">
          <h1 id="find-title">Find your favorite books!</h1>
        </div>
      </header>
  </div>

  <div class="container">

      <div class="row">
        
            <div class="form-group col-md-7 mt-3 mx-auto">
                  <input id="searchbox" name="search-box" placeholder="Search your books">
            </div>

            <div class="form-group col-md-10 mt-1 mx-auto text-center">
                  <input type="submit" class="btn btn-sm btn-success text-center" value="Search" id="searchbutton">
            </div>

      </div>
      <div class="col-md-10 container divstyle">
        <div class="row">
          <div id="container">
            <table class="table table-striped table-responsive">

              <thead>
                <tr>
                  <th>Title</th>
                  <th>Image</th>
                  <th>Author</th>
                  <th>Publisher</th>
                </tr>
              </thead>

              <tbody id="listbooks">
              </tbody>

            </table>
          </div>
        </div>
      </div>

  </div>

</div>

{% endblock %}
