body {
	padding: 0;
	margin: 0;
}

#landing-page {
	background: #043647;
	margin-bottom: 0px;
}

.judul {
	padding-top: 25px;
}

.judul h1 {
	font-family: "Open Sans";
	font-weight: bolder;
	font-size: 50px;
	color: #F49E13;
}

#add input.btn{
	border-radius: 10px;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	color: #ffff;
	padding-left: 13px;
	padding-right: 13px;
}

#add input.btn:hover {
	color: #F49E13;
}

input[name=status]{
	padding: 10px !important;
	border: 5px solid #F49E13;
	width: 100%;
	height: 50px;
}

input[type=submit]{
	background: #F49E13;
	border:  0px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type=submit]:hover{
	background:#ffff !important;
}

.view-status h1 {
	font-family: "Open Sans";
	font-weight: bolder;
	font-size: 45px;
	color: #F49E13;
	padding-top: 30px;
}

.view-status  hr {
	margin-top: 0px;
	margin-bottom: 40px;
	margin-left: 390px;
	margin-right: 390px;
    border: 1.5px dashed #FFF1D0;
}

.list-status {
	font-family: "Open Sans";
	color: #FFF1D0;
}

.list-status h3 {
	color: #F49E13;
}
