body {
	background: #043647;
	padding: 0;
	margin: 0;
}


.navbar {
	position:  sticky;
	width: 100%;
}

#about {
	padding: 0px;
	background: #043647;;
}

#landing-page {
	margin-bottom: 0px;
}

.judul {
	padding-top: 25px;
}

.judul h1 {
	font-family: "Open Sans";
	font-weight: bolder;
	font-size: 50px;
	color: #F49E13;
}

#add input.btn{
	border-radius: 10px;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	color: #ffff;
	padding-left: 13px;
	padding-right: 13px;
}

#add input.btn:hover {
	color: #F49E13;
}

input[name=status]{
	padding: 10px !important;
	border: 5px solid #F49E13;
	width: 100%;
	height: 50px;
}

input[type=submit]{
	background: #F49E13;
	border:  0px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type=submit]:hover{
	background:#ffff !important;
}

.view-status h1 {
	font-family: "Open Sans";
	font-weight: bolder;
	font-size: 45px;
	color: #F49E13;
	padding-top: 30px;
}

.view-status hr {
	margin-top: 0px;
	margin-bottom: 40px;
	margin-left: 390px;
	margin-right: 390px;
    border: 1.5px dashed #FFF1D0;
}

.list-status {
	font-family: "Open Sans";
	color: #FFF1D0;
}

.list-status h3 {
	color: #F49E13;
}

.accordion {
    background: #F49E13;
    color: white;
    padding: 18px;
    width: 100%;
    transition: 0.4s;
    border: none;
    font-family: "Open Sans";
}

.active, .accordion:hover {
    background-color: #F4B44B;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: #FFF1D0;
    overflow: hidden;
}

.panel h4 {
	font-family: "Open Sans";
	line-height: 50px;
	font-size: 20px;
	color: #043647;
}

.title h1 {
	font-family: "Open Sans";
	font-weight: bolder;
	font-size: 50px;
	color: #F49E13;
	padding-top: 25px;
}

.title hr {
	margin-top: 0px;
	margin-bottom: 40px;
	margin-left: 220px;
	margin-right: 220px;
    border: 1.5px dashed #FFF1D0;
}

.biodata label {
	font-family: "Open Sans";
	color: #F49E13;
	font-size: 23px;
}

.biodata .input-group {
	display: inline-block !important;
	font-family: "Open Sans";
	color: #FFF1D0;
	font-size: 18px;
	margin-bottom: 15px;
}

.biodata p {
	font-family: "Open Sans";
	color: #FFF1D0;
	font-size: 20px;
	line-height: 35px;
	margin-top: 25px;
	margin-bottom: 65px;
}

