.judul #find-title {
	margin-bottom: 40px;
}

input[name=search-box]{
	padding: 10px !important;
	border: 5px solid #F49E13;
	width: 100%;
	height: 50px;
}

input[type=submit]{
	background: #F49E13;
	border:  0px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type=submit]:hover{
	background:#ffff !important;
}

input.btn{
	border-radius: 10px;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	color: #ffff;
	padding-left: 13px;
	padding-right: 13px;
}

input.btn:hover {
	color: #F49E13;
}

.table {
	margin-top: 30px;
	align-items: center;
}

.table thead {
	font-family: "Open Sans";
	font-weight: bolder;
	font-size: 20px;
	color: #F49E13;
}

.table tbody {
	font-family: "Open Sans";
	font-size: 16px;
	color: #FFF1D0;
} 