.welcome h1 {
	font-family: "Open Sans";
	font-size: 50px;
	font-weight: bold;
	line-height: 30px;
	color: #F49E13;
	margin-top: 50px;
	margin-bottom: 40px;
	
}

.buttonlogout {
	color: #F49E13;
}

.btn-logout, .btn-success{
	color: #fff;
	background-color: #F49E13;
	border-color: #F49E13;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: bold;
}

.btn-logout:hover, .btn-success:hover{
	color: #F49E13;
	background-color: #fff;
	border-color: #fff;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: bold;
}

.logoutconfirm h1 {

	font-family: "Open Sans";
	font-size: 47px;
	font-weight: bold;
	line-height: 30px;
	color: #F49E13;
	margin-top: 50px;
	margin-bottom: 40px;
}