{% extends 'story9base.html' %}
{% load static %}

{% block content %}

<div class="container text-center middle">
    <div class="welcome container column mt-3">
        <div>
            <h1>Welcome, {{user.username}}</h1>
        </div>

        <div class="buttonlogout">
            <a href="/logout/"> <button class="btn btn-logout btn-info btn-logout mt-3" type="button">Logout</button></a>
        </div>
    </div>
</div>

{% endblock content %}
