{% extends 'story9base.html' %}
{% load static %}

{% block content %}

<form method="POST" class="login">
    {% csrf_token %}

    <div class="container-login column">

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="inilogin card-body">
                            <h2 class="card-title text-center">Login</h5>
                            <form class="form-signin">
                                <div class="username form-label-group mt-4">
                                    <label for="username">Username</label>
                                    <input id="Username" name="username" type="text" class="form-control username" placeholder="Username" required autofocus>
                                </div>

                                <div class="pass form-label-group mt-4">
                                    <label for="password">Password</label>
                                    <input id="password" name="password" type="password" class="form-control pass" placeholder="Password" required>
                                </div>

                                <div class="custom-control custom-checkbox mt-3 mb-3">
                                    <input type="checkbox" name="remember" class="custom-control-input" id="rememberpass">
                                    <label class="custom-control-label" for="rememberpass">Remember password</label>
                                </div>

                                <button class="btn btn-lg btn-primary btn-block text-uppercase mt-4 my-3" type="submit">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content %}
