{% extends 'story9base.html' %}
{% load static %} 

{% block content %}

<div class="logoutconfirm container text-center middle">
    <h1>Are you sure want to logout?</h1>

    <div class="container column mt-4">
	    <form method="POST">
	        {% csrf_token %}
	        <input name="logout" type="submit" id="logout" class="btn btn-danger">
	        <a href="/home/"><button type="button" class="btn btn-cancel btn-success">Cancel</button></a>
	    </form>
	</div>
</div>

{% endblock content %}
