{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Safa Fathya Azzizah-Story8</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> 
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/script.js' %}"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
</head>

<body>
 
	<header id="atas">
		<nav class="navbar navbar-expand-md sticky-top">
			<span class="col-md-12">
				<button id="theme" class="btn btn-default waves-effect waves-light mt-2 text-white">
					<h4>Bright Mode</h4>
				</button>
			</span>
		</nav>
	</header>

	{% block content %}
	{% endblock content %}
		<script src="{% static 'js/story8book.js' %}"></script>
</body>

</html>