{% extends 'base.html' %}
{% load static %}


{% block content %}
	<div id="landing-page">
		{% comment %}
		{# <div class="col-md-6"> #}
		<a href="{% url 'about' %}">
			<button id="knowme" class="btn btn-primary waves-effect waves-light" style="margin-top: 10px;">
				<h4>Get to know me!</h4>
			</button>
		</a>
		</div>
		{% endcomment %}

		<div id="home">
			<header class="page-header header container-fluid">
				<div class="overlay"></div>
				<div class="judul text-center">
					<h1 id="halo">Halo, apa kabar?</h1>
				</div>
			</header>
		</div>

		<div id="add">
			<form method ="POST">
		      	{% csrf_token %}

		      	<div class="gold-members p-4">         
		            <div class="form-group row col-md-6 mt-4 mx-auto">
		               	{{post_form.status}}
		            </div>

		            <div class="form-group col-md-4 mt-4 mx-auto text-center">
		            	<input type="submit" class="btn btn-sm btn-success text-center" value="Save" id="submit">
		            </div>
		        </div>
		    </form>
		</div>
	
		<div id="view">
			<div class="view-status text-center">
				<h1 id="status">Status</h1>
				<hr id="hr-status">
			</div>
			<div class="list-status">
				{% if status %}
					{% for posts in status %}
						<div class="col-12 mt-4 pb-3 text-center">
							<div>
								<h3 id="text-status">{{ posts.status }}</h3> 
								<p>{{ posts.waktu}}<p>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<div class="col-12 mt-4 pb-3 text-center"><h3 id="text-status">Belum ada status</h3></div>
				{% endif %}
			</div>
		</div>
	</div>

	<div id="about" class="col-md-12">
	<div class="col-md-8 container text-center">

		
			<header class="page-header header container-fluid">
				<div class="overlay"></div>
				<div class="title">
					<h1 id="title-knowme">Get to know me!</h1>
					<hr id="hr-knowme">
				</div>
			</header>


  			<div class="col-md-12 biodata">
				<div class="form-group form-profile">
					<label for="name">Name : </label> <div class="input-group" id="isi">Safa Fathya Azzizah</div> 
				</div>
				<div class="form-group pt-1 form-profile">
					<label for="age">Age : </label> <div class="input-group" id="isi">19 years</div> 
				</div>
				<div class="form-group pt-1 form-profile ">
					<label for="hobbies">Hobbies : </label> <div class="input-group" id="isi">Traveling and Watching Movies</div> 
				</div>
				<div class="form-group pt-1 form-profile">
					<label for="location">Location : </label> <div class="input-group" id="isi">Depok, Jawa-Barat, Indonesia</div> 
				</div>
				<p id="desc">I am a second year student of bachelor in Computer Science at University of Indonesia.<br>I am a dreamer and I am going to make a very beautiful life.</p>
  			</div>

  			<div class="col-md-12 accord">

  				<div class="col-md-12 accord1">
  					<button class="accordion"><h4>My Activities</h4></button>
  					<div class="panel">
  						<p>
  						
  							<h4 id=text-panel>Kuliah</h4>
  							<h4 id=text-panel>Nugas</h4>
  							<h4 id=text-panel>Makan</h4>
  							<h4 id=text-panel>Tidur</h4>
  						
			            </p>
			        </div>
			    </div>

			    <div class="col-md-12 accord2">
  					<button class="accordion"><h4>Experiences</h4></button>
  					<div class="panel">
  						<p>
  							
  							<h4 id=text-panel>Staff of Jobfair, Educare</h4>
  							<h4 id=text-panel>Vice PIC of Consumption, Al-Azhar Kelapa Gading Cup</h4>
  							<h4 id=text-panel>Staff of Ramadhan Charity</h4>
  							
			            </p>
			        </div>
			    </div>

			    <div class="col-md-12 accord3">
  					<button class="accordion"><h4>Achievements</h4></button>
  					<div class="panel" id="ini-panel">
  						<p>
  							
  							<h4 id=text-panel>Bronze Prize, International Mathematics Contest Singapore</h4>
  							<h4 id=text-panel>Duta Sanitasi Kalimantan Tengah</h4>
  							<h4 id=text-panel>1st Place, FLS2N Story Telling, city level</h4>
  							<h4 id=text-panel>2nd Place, FLS2N Story Telling, province level</h4>
  							
			            </p>
			        </div>
			    </div>

			</div>
</div>
</div>

{% endblock %}
